.title {
    color: rosybrown;
}

.main {
    color:lavenderblush;
}

#header {
    font-family: "Courier New", Courier, monospace;
    display: inline;
    color: rosybrown;
    padding: 25px;
    text-decoration: line-through;
}

.navigator {
    background-color: bisque;
}

.line {
    text-decoration: line-through;
}
  
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    margin-bottom: 30px;
}

.star:before {
   display: inline-block; 
   content: "\2606";
   visibility:visible;
}
.star:checked:before {
   content: "\2605";
   color:rosybrown;
}

.tableRowsStrike{
    text-decoration: line-through;
    color:black;
}

tr.tableRowsStrike td {
    border-bottom: 3px solid lavenderblush;
}

tr.tableRows td {
    border-bottom: 3px solid lavenderblush;
}

table {
    width: 80%;
}

th {
    height: 50px;
    padding:15px;
    text-align: left;
}

td {
    padding:5px;
}

.tableRow {
    border: 1px solid lavenderblush;
}

.checkBox {
    font-size: 16px;
    line-height: 20px;
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
    margin-bottom: 15px;
}

.checkBox:before {
    display: inline-block;
    width: 25px;
    content: "\00a0";
    text-align: center;
    background: #eee;
    visibility:visible;
}

.checkBox:checked:before {
    content: "\2713";
    color: rosybrown;
}

.home{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat:  no-repeat;
}

.button {
    background-color:bisque;
}

.button:hover {
    background-color: lavenderblush;
}

.create {
    text-decoration: none;
}

.create:link {
    color: black
}

.create:visited {
    color: black
}

.create:hover {
    color:rosybrown
}

.subtitle {
    color:rosybrown;
}

.input-box {
    display: block;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
}

.description {
    display: block;
    box-sizing: border-box;
    border-width: 3px;
    border-style: inset;
    height: 150px;
    width: 30%;
    resize: none;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
}

.input-box:focus {
    border: 3px solid bisque;
}

.description:focus {
    border: 3px solid bisque;
}




  